@import url('https://fonts.googleapis.com/css?family=Lobster');
.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
}

.arrow-right {
    left: 780px;
}


/* render() {
    return(
        <div id="carousel" className="noselect">
            <div className="arrow arrow-left" onClick={this.leftClick}><i className="fi-arrow-left"></i></div>
            <ReactCSSTransitionGroup 
                transitionName={this.state.direction}>
                {this.generateItems()}
            </ReactCSSTransitionGroup>
            <div className="arrow arrow-right" onClick={this.rightClick}><i className="fi-arrow-right"></i></div>
        </div>
    )
} */