.search-bar {
    width: 100%; /* Ocupa el espacio máximo */
    max-width: 300px; /* Máximo de la barra de busqueda */
    display: inline-flex; /* Para poder mostrar la barra y boton comodamente */
}

.search-bar__input {
    flex-grow: 1; /* Para que la barra de busqueda ocupe el resto del espacio horizontal disponible */
    padding: 10px; /* Espacio entre la caja y el contenido escrito */
    outline: none; /* Quita el reborde azul que añaden los buscadores cuando focuseas el objeto */
    border: 1px solid #6c757d;
    border-radius: 5px 0 0 5px; /* Bordes redondos */
    background: #dadada; /* Color del fondo */
    transition: background 0.25s, box-shadow 0.25s; /* Animacion que cambia los colores al focusear la barra */
}

.search-bar__input:focus {
    background: white;
    box-shadow: 0 0 2px #cbd0d4;
}

.search-bar__input::placeholder{
    color: #cbd0d4;
}

.search-bar__button{
    width: 40px;
    background: #6c757d;
    color: white;
    outline: none;
    border: none;
    /* Para asegurarnos de que el icono aparezca en el centro del botón */
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none; /* No añade brillo al boton cuando el usuario lo focusea */
}

.search-bar__button:active{
    box-shadow: insert 0 0 30px rgba(0, 0, 0, 0.25);
}